* {
  margin: 0px;
  padding: 0px;
}

.container {
  padding: 200px;
  text-align: center;
}

.timer {
  padding: 10px;
  background: linear-gradient(top, #222, #444);
  overflow: hidden;
  display: inline-block;
  border: 5px solid #efefef;
  border-radius: 5px;
  position: relative;
}

.cell {
  width: 0.6em;
  height: 40px;
  font-size: 50px;
  overflow: hidden;
  position: relative;
  float: left;
}

.numbers {
  width: 0.6em;
  line-height: 40px;
  font-family: arial, verdana;
  position: absolute;
  left: 0;
  top: 0
}

.timers-controls {
  padding: 10px;
}

label {
  padding: 0 20px;
  cursor: pointer;
  font-family: arial, verdana, tahoma;
  font-size: 12px;
}

input[name="controls"] {display: none;}

#stop:checked~.timer .numbers {
  animation-play-state: paused;
}

#start:checked~.timer .numbers {
  animation-play-state: running;
}

#reset:checked~.timer .numbers {
  animation: none;
}

.moveten {
  animation: moveten 1s steps(10, end) infinite;
}

.movesix {
  animation: movesix 1s steps(6, end) infinite;
}

.second {
  animation-duration: 10s;
}

.tensecond {
  animation-duration: 60s;
}

.milisecond {
  animation-duration: 1s;
}

.tenmilisecond {
  animation-duration: 0.1s
}

.minute {
  animation-duration: 600s;
}

.tenminute {
  animation-duration: 3600s;
}

.hour {
  animation-duration: 36000s;
}

.tenhour {
  animation-duration: 360000s;
}

@keyframes moveten {
  0% {
    top: 0;
  }
  100% {
    top: -400px;
  }
}

@keyframes movesix {
  0% {
    top: 0px;
  }
  100% {
    top: -240px
  }
}
